name: Test

on:
  push:
    branches: [main]

  pull_request:
    branches: [main]

jobs:
  tests:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: [3.8, 3.9]

    steps:
      - name: Checkout changes
        uses: actions/checkout@v2

      - name: pip cache
        uses: actions/cache@v1
        with:
          path: ~/.cache/pip
          key: lint-pip-${{ matrix.python-version }}-${{ hashFiles('**/pyproject.toml') }}
          restore-keys: |
            lint-pip-${{ matrix.python-version }}-

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: make install

      - name: Run tests
        run: make test

      - name: Upload coverage
        uses: codecov/codecov-action@v1
